.container {
  display: flex;
  gap: 10px;
}

.text-content {
  display: flex;
  flex-direction: column;
}

img {
  width: auto;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

li {
  margin: 20px;
}
